In [10]:
import pandas as pd
import requests
import urllib3
import re
from bs4 import BeautifulSoup

In [11]:
url = 'https://en.wikipedia.org/wiki/Economy_of_the_European_Union'

In [12]:
proxies = {}

In [13]:
response = requests.get(url, proxies=proxies)

In [14]:
page_html = response.text

In [16]:
page_soup=BeautifulSoup(page_html, "html.parser")

In [19]:
tables = page_soup.find_all("table", {"class":"wikitable"})

In [21]:
print("Number of tables= " +str(len(tables)))

Number of tables= 17

In [23]:
table_1 = tables[0]

In [24]:
rows=table_1.findAll("tr")
row_lengths=[len(r.findAll(['th','td'])) for r in rows]
ncols=max(row_lengths)
nrows=len(rows)

data=[]
for i in range(nrows):
    rowD=[]
    for j in range(ncols):
        rowD.append('')
    data.append(rowD)

In [26]:
print(len(data))
print(len(data[0]))

11
8

In [27]:
for i in range(len(rows)):
    row=rows[i]
    cells = row.findAll(["td","th"])
    for j in range(len(cells)):
        cell=cells[j]
        data[i][j]+=cell.text

In [28]:
data_cols = data[0]
data = data[1:]

In [29]:
df = pd.DataFrame(data, columns=data_cols)

In [30]:
df

,Rank,Corporation,Stock ticker,Revenue $ millions,Profit $ millions,Employees,Headquarters,Industry
0,1,Royal Dutch Shell,RDS.A,"272,156","1,939","90,000","Shell Centre, London, UK, and The Hague, Nethe...",Energy\n
1,2,Volkswagen,VLKAY,"236,600","-1,520","610,076","Wolfsburg, Germany",Motor Vehicles & Parts\n
2,3,BP PLC,BP.L,"183,000","4,100","74,500","London, UK",Energy\n
3,4,Daimler,DDAIY,"165,800","9,345","284,015","Stuttgart, Germany",Motor Vehicles & Parts\n
4,5,EXOR Group,EXOSF,"152,591",825,"303,247","Turin, Italy",Financials\n
5,6,Total,TOT,"143,421","5,087","96,019","Paris, France",Energy\n
6,7,E.ON,EONGY,"129,277","-7,764","56,490","Essen, Germany",Energy\n
7,8,AXA,AXAHY,"129,250","6,231","98,279","Paris, France",Financials\n
8,9,Allianz,AZSEY,"122,948","7,339","142,459","Munich, Germany",Financials\n
9,10,BNP Paribas,BNPQY,"111,531","7,426","181,551","Paris, France",Financials\n

In [ ]:
df.to_excel("F:\DSMP\Pandas to Excel.xlsx", index=None)